.sortable {
    cursor: pointer;
}
.sortable:after {
    margin-left: 6px;
    font-weight: bold;
}
[data-sorted][data-sort-direction="-"]:after, [data-sort-direction=""]:hover:after {
    content: "↑";
}
[data-sorted][data-sort-direction=""]:after, [data-sort-direction="-"]:hover:after {
    content: "↓";
}