[data-sorted][data-sort-direction="-"]::after {
    content: "↑";
    margin-left: 6px;
    font-weight: bold;
}
[data-sorted][data-sort-direction=""]::after {
    content: "↓";
    margin-left: 6px;
    font-weight: bold;
}